@import url("https://fonts.googleapis.com/css2?family=Harmattan&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Harmattan", sans-serif;
    background-color: black;
    width: 100%;
    height: 100%;
    /*background-size: cover; */
    width: 100%;
    z-index: -1;
    /* background-size: 50%; */
    /*btn: 70%; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;


}
#welcome{
    text-align: center;
    margin-top: 110px;
    color: rgb(22, 120, 158);
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bolder;
    font-size: 30px;
    display: none;
    z-index: 2;
}
#box{
    position: absolute;
    width: 100%;

    padding: 20px;
    bottom: 50px;
    color: rgb(0, 183, 255);
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bolder;
    /* font-size: 20px; */
    z-index: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}
/*.btn{
  margin-top: 910px;
 
  
} */
.btn_sc{
    display: none;
    /* background-size:  cover; */
    /* position: fixed;*/
    /* margin-top: 35%;
    margin-left: 18.3%;  */
    text-align: center;


}

.btn{
    margin: 0;
    padding: 0;
    text-align: center;
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 100%;
    /* margin-bottom: 2rem; */
    color: antiquewhite;
    font-weight: 900;
    font-size: large;
    letter-spacing: 5rem;
    background-size: cover;
    background-color: aqua;
    animation: ftp 2s ease-in-out infinite alternate;
}

@keyframes ftp {

    from {
        box-shadow: 0 0 0px skyblue,0 0 5px aqua,0 0 25px aqua,0 0 50px aqua;
    }
    to {
        box-shadow: 0 0 25px aqua, 0 0 50px aqua, 0 0 100px aqua, 0 0 200px aqua;
    }

}
.btn:hover{
    background-color: aquamarine;
    color: burlywood;
}

#text{
    position: fixed;
    bottom: 2rem;
    font-size: xx-large;
    text-transform: capitalize;
    /* left: 20rem; */
    color: aqua;
    /* text-align: center; */
    animation: glow 2s ease-in-out infinite alternate;

}
@keyframes glow {

    from {
        text-shadow: 0 0 1px aqua, 0 0 5px aqua, 0 0 25px aqua, 0 0 50px aqua;
    }
    to {
        text-shadow: 0 0 5px aqua, 0 0 25px aqua, 0 0 50px aqua, 0 0 100px aqua;
    }

}

#time{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}